<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button ui-sref="home" class="md-raised">Nyitóoldal</md-button>
    <md-button ui-sref="login" class="md-raised">Bejelentkezés</md-button>
    <md-button ui-sref="list" class="md-raised">Listázás</md-button>
  </section>

</md-toolbar>
