<div layout="column" >
  <md-card>
    <form name="loginForm" novalidate ng-submit="vm.register()">
      <div layout="row">
        <div layout="column" flex="50" >
          <md-input-container class="md-block" flex-gt-sm>
            <label>Felhasználó</label>
            <input ng-model="vm.user.username" required name="username"/>
            <div ng-messages="loginForm.username.$error">
              <div ng-message="required">Kötelező mező!</div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" flex="50">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Jelszó</label>
            <input type="password" ng-model="vm.user.password" required name="password"/>
            <div ng-messages="loginForm.password.$error">
              <div ng-message="required">Kötelező mező!</div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div  layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" id="btnSubmit" type="submit" ng-disabled="loginForm.$invalid">Bejelentkezés</md-button>
      </div>
    </form>
  </md-card>
</div>
