<div layout="column" >
  <md-card>
    <p>Nyitóoldal</p>
    <p class="wrap">Token: {{ main.token }}</p>
    <p class="wrap" ng-bind-html="main.formatToken"></p>
    <p class="wrap" ng-bind-html="main.resp"></p>
  </md-card>
</div>
