<div layout="column">
  <md-card>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column>Azonosító</th>
        <th md-column>Név</th>
      </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in vm.users">
          <td md-cell>{{item.id}}</td>
          <td md-cell>{{item.name}}</td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>
